<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6">
                            <h4 class="header-title m-b-30"><a href="<%= data.data.parent == '1_j4kZU9ONrX6Bs02hul4DLLJh-s-JcBl'? '/': '/folder/' + data.data.parent %>"><i class="fa fa-arrow-left"></i></a> <%= data.data.name %></h4>
                        </div>
                    </div>

                    <div class="row">
                        <% data.data.children.forEach(function(file){ %>
                            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                                <a href="<%= file.type == 'folder'? ('/folder/' + file.id)  : '#' %>" <%= file.type == 'file' && `onClick=showModal("${file.id}")` %> >
                                    <div class="file-man-box">
                                        <div class="file-img-box"><img src="<%= file.iconlink %>" alt="icon"></div>
                                        <div class="file-man-title">
                                            <h5 class="mb-0 text-overflow"><%= file.name %></h5>
                                            <p class="mb-0"><small><%= file.size == '0 Byte'? (file.children? file.children.length + ' Items':'0 Byte'):file.size %></small></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            
                        <% }); %>
    
                    </div>
                </div>
            </div>
            <!-- end col -->
            
        </div>
        <!-- end row -->
    </div>
    <!-- container -->


    <% include partials/file-details-modal %>
    
</section>

<% include partials/footer %>
<% include partials/script %>

<script>
  const files = <%- JSON.stringify(data.data.children.filter(file => file.type == 'file')) %>;
  
  const showModal = (id) => {
    const currentFile = files.find(file => file.id == id);
    
    $("#modal-file-name").text(currentFile.name);
    $("#modal-file-type").text(currentFile.mimetype);
    $("#modal-file-size").text(currentFile.size);
    $("#modal-file-created").text(currentFile.created);
    $("#modal-file-contributer").text(currentFile.contributer.name);
    $("#modal-file-contributer").attr("href", "/contributers/" + currentFile.contributer.id);
    $("#modal-file-view").attr("href", "/file/" + currentFile.id);
    $("#modal-file-download").attr("href", "/download/" + currentFile.id);
    $("#modal-file-share").click(() => {
      alert('share' + currentFile.id)
    })
    
    //save to savedFiles
    $("#modal-file-save").click(() => {
      let savedFiles = JSON.parse(localStorage.getItem('savedFiles'));
      if(savedFiles == null) {
        savedFiles = [];
        savedFiles.push(currentFile);
        localStorage.setItem('savedFiles', JSON.stringify(savedFiles));
        savedFiles.push(currentFile);
        localStorage.setItem('savedFiles', JSON.stringify(savedFiles));
        Toastify({
          text: "Already saved",
          backgroundColor: "linear-gradient(to right, #01bbb8, #28c70F)",
          destination: "/saved"
        }).showToast();
      } else {
        let alreadySaved = savedFiles.find(file => file.id == currentFile.id);
        if(alreadySaved) {
          Toastify({
            text: "Already saved",
            backgroundColor: "linear-gradient(to right, #9ed6fe, #0795fd)",
            destination: "/saved"
          }).showToast();
        } else {
          savedFiles.push(currentFile);
          localStorage.setItem('savedFiles', JSON.stringify(savedFiles));
          Toastify({
            text: "Already saved",
            backgroundColor: "linear-gradient(to right, #01bbb8, #28c70F)",
            destination: "/saved"
          }).showToast();
        }
      }
    })
    
    
    $("#modal-file-details").modal();
  }
</script>
</html>